@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f7f7f7;
}

.navigation {
  position: relative;
  height: 500px;
  width: 75px;
  background: #fff;
  border-radius: 40px;
  box-shadow: -20px 20px 50px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8px;
  gap: 10px;
  width: 100%;
}
.navigation ul li {
  position: relative;
  list-style: none;
  /* width: 100%; */
  width: 60px;
  height: 60px;
  padding: 0 10px;
  border-radius: 30px;
  transition: 0.5s;
}
.navigation ul li:hover {
  background: var(--clr);
  transform: translateX(-30px);
}
.navigation ul li.active {
  background: var(--clr);
  width: 160px;
  transform: translateX(10px);
}
.navigation ul li.active::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  width: 100%;
  height: 100%;
  background: var(--clr);
  border-radius: 30px;
  filter: blur(8px);
  opacity: 0.25;
  transition: 0.5s;
}
.navigation ul li a {
  position: absolute;
  left: 0;
  width: 60px;
  /* width: 100%; */
  height: 100%;
  overflow: hidden;
}
.navigation ul li.active a {
  width: 100%;
}
.navigation ul li a .icon {
  position: absolute;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 1.5rem;
  transition: 0.5s;
}
.navigation ul li:hover a .icon,
.navigation ul li.active a .icon {
  color: #fff;
}
.navigation ul li a .text {
  position: absolute;
  left: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}